.root {
    -fx-background-color: #121212;
}

#GameTitleHBox {
    -fx-background-color: #404040;
}

#TitleLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
}

#GameSummaryLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
}

#LeftInfo {
    -fx-background-color: #404040;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

#LeftInfo .label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
}